$def with (lcdContent1, lcdContent2, lcdContent3, lcdContent4 )
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link href="/static/lcdstyle.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="lcd" class="lcd_outer">
<p id="lcd_text1" class="lcd_text">$lcdContent1</p>
<p id="lcd_text2" class="lcd_text">$lcdContent2</p>
<p id="lcd_text3" class="lcd_text">$lcdContent3</p>
<p id="lcd_text4" class="lcd_text">$lcdContent4</p>
</div>

</body>
</html>